[Unit]
Description="Service that monitors Pisound-Micro pin information and converts that to keyboard events"

[Service]
Type=simple
ExecStart=/home/vidmantas/Projects/pinKbd_daemon/pinKbd_daemon

[Install]
WantedBy=multi-user.target