[Unit]
Description="Service that monitors Pisound-Micro pin information and converts that to keyboard events"

[Service]
Type=simple
ExecStart=pinKbd_daemon

[Install]
WantedBy=default.target